<footer class="d-flex" style="height: 80px; margin-top: 40px">
  <div style="height: 40px; width: 50%; margin-top: 24px">
    <span style="color: var(--bs-white)"
      >Copyright 2021 I don't need no copyright when I own the seed to the
      art, Inc.&nbsp;<br />All rights enforced by mathematics and
      cryptography.</span
    >
  </div>
  <div style="height: 40px; width: 50%; margin-top: 24px; text-align: right">
    <span style="color: var(--bs-white)"
      >Follow the creator <a href="https://twitter.com/sebschepis">on Twitter</a> or <a href="https://discord.gg/xYhDQYCHX4">join his Discord</a></span
    >
  </div>
</footer>
