<div class="container">
  <div class="row">
      <div class="col">
          <div>
              <h1 style="color: #ffffff;font-family: montserrat;">My Etherbloom</h1>
          </div>
      </div>
  </div>
  <div class="row">
    <app-bloom-view type="user"></app-bloom-view>
  </div>
  <div class="row">
      <div class="col">
          <div style="margin-top: 20px;">
              <h1 style="color: #fff;font-family: montserrat;">From the Artist</h1>
          </div>
      </div>
  </div>
  <div class="row">
    <app-posts></app-posts>
  </div>
</div>
