<div class="row mt-5">
  <div
    class="
      col-xl-6 col-xxl-7
      text-center
      d-flex
      flex-row
      justify-content-center
    "
  >
    <div
      style="
        width: 100%;
        text-align: left;
        margin: 40px;
        margin-right: 20px;
        margin-left: 10px;
      "
    >
      <div>
        <span
          style="
            color: var(--bs-white);
            font-family: montserrat;
            font-size: 42px;
            font-weight: bold;
            white-space: nowrap;
          "
          > Etherbloom Turns Your Name Into Art</span
        >
      </div>
      <div
        style="
          width: 100%;
          text-align: left;
          margin-right: 20px;
          margin-top: 20px;
          padding-right: 20px;
        "
      >
        <div></div>
        <span
          style="
            color: var(--bs-white);
            font-family: montserrat;
            font-size: 24px;
            line-height: 42px;
          "
          >Etherbloom is the ultimate personal fine art-piece NFT, personalized
          by you when you mint it.<br /></span
        ><span
          style="
            color: var(--bs-white);
            font-family: montserrat;
            font-size: 20px;
            line-height: 36px;
          "
          ><br />Etherbloom lets you turn a word, name, or a phrase into a
          unique seed that you own.&nbsp;That seed&nbsp;then drives generative
          algorithms that make unique, engaging art,&nbsp; just for you.<br /><br
        /></span>
      </div>
      <div
        style="
          width: 100%;
          text-align: left;
          margin-right: 20px;
          margin-top: 10px;
        "
      >
        <div></div>
        <app-purchase></app-purchase>
      </div>
    </div>
  </div>

  <div
    class="
      col
      d-md-flex
      justify-content-md-center
      justify-content-xl-start
      justify-content-xxl-start
    "
  >
    <div style="height: 500px; width: 500px">
      <app-bloom-animation></app-bloom-animation>
    </div>
  </div>
</div>
