<div
  class="accordion"
  role="tablist"
  id="accordion-1"
  style="background: #141414; font-family: montserrat"
>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-1"
        aria-expanded="true"
        aria-controls="accordion-1 .item-1"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        What is an Etherbloom?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse show item-1"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          An Etherbloom is a generative&nbsp;fine-art NFT whose token hash is
          driven by a user-selected seed.&nbsp; Each Etherbloom is made from a
          seed word or phrase that you enter when you mint your bloom.&nbsp;
          That seed word or phrase then becomes both your NFTs identifier as
          well as its generative art seed.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-2"
        aria-expanded="false"
        aria-controls="accordion-1 .item-2"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        How many Etherbloom will exist?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-2"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          A total of 500 Etherblooms will be minted. Each etherbloom is
          numbered to identify its place in the series, and each etherbloom is
          totally unique.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-3"
        aria-expanded="false"
        aria-controls="accordion-1 .item-3"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        Can someone else mint the same Etherbloom as me?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-3"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          No. Once a word or phrase is minted into an Etherbloom, it becomes
          yours forever, and nobody else will be able to mint it.&nbsp;<br />
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-3"
        aria-expanded="false"
        aria-controls="accordion-1 .item-3"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        What chain is Etherbloom running on?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-3"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          Etherbloom is a multinetwork ERC721 NFT and the tokensale will simultaneously operate live
          on Fantom, Avalanche, Polygon, POA, and Binance Smart Chain (the token itself will be multinetwork upon
          the release of my upconing NFT bridge technology). Tokens can be minted on any network, are
          globally unique across all bridged networks, and will operate seamlessly within the author's
          upcoming NFT multinetwork bridge infrastructure.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-4"
        aria-expanded="false"
        aria-controls="accordion-1 .item-4"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        Where can I mint an Etherbloom?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-4"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          Etherbloom are only available to mint here at etherbloom.com and the entire
          minted registry is available for view on this site.&nbsp;<br />
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-5"
        aria-expanded="false"
        aria-controls="accordion-1 .item-5"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        How much does an Etherbloom cost?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-5"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          <!-- Of the 10,000 minted Blooms, 9900 are priced at xx each. The remaining
          100 'signature series' items are priced at 10xx each.<br /> -->Pricing coming soon
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-6"
        aria-expanded="false"
        aria-controls="accordion-1 .item-6"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        Will my Etherbloom ever change?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-6"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          Your Etherbloom's seed will never change, but a seed is meant to grow,
          and Etherbloom is a living work of love created by the artist is
          intended to receive new visualizers over time.&nbsp; Your bloom
          will&nbsp; actively transform itself into new art regularly, but
          you'll always have access to previous versions.<br /><br />
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-7"
        aria-expanded="false"
        aria-controls="accordion-1 .item-7"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        How can I see my Etherbloom?&nbsp;<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-7"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          You can see larger, more detailed versions of your Etherblooms in the
          holder-only area of this site.&nbsp;<br />
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-8"
        aria-expanded="false"
        aria-controls="accordion-1 .item-8"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        Can I sell my Etherbloom?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-8"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          Absolutely. Etherbloom is implemented as an ERC-721 NFT, allowing you
          to sell your Etherbloom on any NFT marketplace.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-9"
        aria-expanded="false"
        aria-controls="accordion-1 .item-9"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        My Etherbloom, my art. My royalties?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-9"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          Each Etherbloom is an active collaboration between the artist and the
          minter.&nbsp; Etherbloom NFTs are royalty-enabled, and Etherbloom
          minters receive 50% of the royalty fees collected upon the sale of
          their Etherbloom. Forever.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-10"
        aria-expanded="false"
        aria-controls="accordion-1 .item-10"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        Do holders get anything beyond the art?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-10"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          Each Etherbloom is also a key to a holders-only section where the
          artist will share content and art intended only for holders.
          Etherbloom holders become participants in an artistic journey through
          the heart of Sacred Geometry - the artist's favorite topic.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" role="tab" style="background: #141414">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-1 .item-11"
        aria-expanded="false"
        aria-controls="accordion-1 .item-11"
        style="
          background: #141414;
          color: #ffffff;
          font-family: montserrat;
          font-size: 24px;
        "
      >
        Who is the artist and creator of Etherbloom?<br />
      </button>
    </h2>
    <div
      class="accordion-collapse collapse item-11"
      role="tabpanel"
      data-bs-parent="#accordion-1"
      style="background: #141414"
    >
      <div class="accordion-body">
        <p class="mb-0" style="font-family: montserrat; color: #ffffff">
          Etherbloom was created by Sebastian Schepis, a long-time member of the
          cryptocurrency community.&nbsp; Sebastian, aka lonestar108, has been
          making digital generative art for years, and brings his twin passions
          - the beauty of sacred geometry and the potential of cryptocurrencies
          - together into Etherbloom.<br />
        </p>
      </div>
    </div>
  </div>
</div>
