<div class="input-group" *ngIf="blockchainService.isOpen" style="margin-top: 20px; width: 60%">
  <div class="input-group-prepend"> <span class="price">{{ salePrice }}</span></div>
  <input (keyup)="ku($event)" (keypress)="kpa($event)" placeholder="enter a word, name or phrase" class="form-control"  type="text" [(ngModel)]="seed" />
  <button
    class="btn btn-primary"
    type="button"
    (click)="mintBloomClicked()"
    [disabled]="buttonDisabled"
    style="background: var(--bs-pink)"
  >
    Mint Bloom
    <!-- <fa-icon
      *ngIf="buttonDisabled"
      [icon]="faSpinner"
      [spin]="true"
    ></fa-icon> -->
  </button>
</div>
<small style="margin-top: 3px; color: #999" *ngIf="seed != '' && !blockchainService.connected">Click the connect button in the upper right to connect to the blockchain</small>
<div *ngIf="!blockchainService.isOpen || !blockchainService.connected" style="margin-top: 20px; width: 60%">
  <span style="color: #fff">Tokensale open! Connect to get started.</span>
</div>
<div *ngIf="taken" style="margin-top: 20px; width: 60%">
  <span style="color: rgb(221, 41, 41)">Sorry, this word is taken</span>
</div>
