<div class="row mt-5">
  <div
    class="
      col
      d-sm-flex d-xxl-flex
      justify-content-sm-center justify-content-xxl-end
    "
  >
    <div style="width: 320px; margin-right: 10px">
      <div
        style="
          width: 320px;
          height: 320px;
          margin-top: 20px;
          margin-right: 10px;
        "
      >
        <app-bloom [seed]="'etherbloom'" style="width: 100; height: 100%"></app-bloom>
      </div>
      <div style="width: 320px; height: 40px; text-align: center">
        <span style="text-align: center; color: rgb(255, 255, 255)"
          ><em>"Etherbloom"</em></span
        >
      </div>
    </div>
  </div>
  <div
    class="
      col
      d-sm-flex d-xxl-flex
      justify-content-sm-center justify-content-xxl-center
    "
  >
    <div style="width: 320px; margin-right: 10px; margin-left: 10px">
      <div
        style="
          width: 320px;
          height: 320px;
          margin-top: 20px;
          margin-bottom: 10px;
          margin-right: 10px;
        "
      >
      <app-bloom [seed]="'hsppiness'" style="width: 100; height: 100%"></app-bloom>
      </div>
      <div style="width: 320px; height: 40px; text-align: center">
        <span style="text-align: center; color: rgb(255, 255, 255)"
          ><em>"Happiness"</em></span
        >
      </div>
    </div>
  </div>
  <div
    class="col d-sm-flex justify-content-sm-center justify-content-xxl-start"
  >
    <div style="width: 320px">
      <div
        style="width: 320px; height: 320px; margin-top: 20px; margin-left: 10px"
      >
      <app-bloom [seed]="'ethereum'" style="width: 100; height: 100%"></app-bloom>
      </div>
      <div style="width: 320px; height: 40px">
        <div style="width: 320px; height: 40px; text-align: center">
          <span style="text-align: center; color: rgb(255, 255, 255)"
            ><em>"Ethereum"</em></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
