<app-feature></app-feature>

<app-sample-art></app-sample-art>

<div class="row">
  <div class="col">
    <div
      class="d-flex flex-row justify-content-center"
      style="height: 100px; width: 100%; margin-top: 40px"
    >
      <div class="text-center" style="width: 400px">
        <span
          style="
            color: var(--bs-white);
            font-family: montserrat;
            font-size: 36px;
          "
          >FAQ</span
        >
      </div>
    </div>
  </div>
</div>

<app-faq></app-faq>
