<div class="container">
  <div class="row">
      <div class="col mt-5">
          <div>
              <h1 style="color: #ffffff;font-family: montserrat;">Registry</h1>
              <p style="color: #ffffff;font-family: montserrat;">The registry displays the full list of minted etherbloom. As of now, {{ mintedCount }} Etherbloom have been minted, out of a max of 10,000</p>
          </div>
      </div>
  </div>
  <div class="row mt-5">
    <app-bloom-view type="all"></app-bloom-view>
  </div>
</div>
