<div class="text-start" style="padding: 10px; border: 1px solid rgb(217,217,217);">
  <h1 style="color: #fff;font-family: montserrat;">The Sine Nebula</h1><span style="color: #fff;font-family: montserrat;">10/4/2021</span>
  <div style="margin-top: 20px;">
      <p style="color: #fff;font-family: montserrat;">Dear patron,</p>
  </div>
  <p style="color: #fff;font-family: montserrat;">Thank you!! I'm overrjoyed and humbled by your response and I had to get something else up tonight for you to look at. Here is a quick sketch I did recently that uses sine to plot a helix (well - moew of a caduceus, really) in space using colored circles, then flying within it end-to end. Simple, but fun. Try clicking and dragging on the canvas and you'll see it in a whole different perspective.</p>
  <app-art2></app-art2>
</div>
