<div class="text-start" style="padding: 10px; border: 1px solid rgb(217,217,217);">
  <h1 style="color: #fff;font-family: montserrat;">Thank you for buying an Etherbloom</h1><span style="color: #fff;font-family: montserrat;">9/24/2021</span>
  <div style="margin-top: 20px;">
      <p style="color: #fff;font-family: montserrat;">Dear patron,</p>
  </div>
  <p style="color: #fff;font-family: montserrat;">Thank you again for your Etherbloom purchase. Etherbloom is a combination of two of my great interests - Sacred Geometry, and cryptocurrencies.&nbsp; If you enjoy either of those things, then you'll enjoy the content I'll bring you here, including advance demos of technology I'm working on, applications to create all kinds of generative art, and a few other things which I don't normally share with anyone.</p>
  <p style="color: #fff;font-family: montserrat;">You're now a passenger with me on a life-long journey through the realms of mathematics, cryptography, mind, and even consciousness itself (they are all one and the same!).&nbsp; I hope you enjoy the art and the content I bring you - this is my way of creating each and every one of you your own, private piece of art.&nbsp; I hope you like it.  I'll close by sharing one of the art generation apps I wrote recently - enjoy playing with it, I have lots more to share.<br></p>
  <app-art1></app-art1>
</div>
